#about {
  .page-title {
    font-size: 4rem;
    text-align: center;
  }
}

.about-content {
  padding: 4rem 0;

  .about-tagline {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 200;
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    margin-bottom: 5rem;
  }

  .col h3 {
    text-align: center;
  }
}