#gallery {
  background: $palenavy;
  padding: 1rem 0 5rem;
  margin-top: 6rem;

  .gallery-title {
    margin: 2rem 0;
    color: $offwhite;
  }

  .gallery-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;

    .gallery-item {
      height: 200px;
      margin: .5rem;
      flex: 0 10%;
      overflow: hidden;
      display: flex;

      @media #{$break-xl} {
        flex: 0 22%;
      }

      @media #{$break-md} {
        flex: 0 30%;
      }
    }
  }
}