@import 'variables';

body {
  background: #F3F3F3;
  font-family: $primary-font;
  font-size: 1.2rem;
}

.page-title {
  font-size: 4rem;
  text-align: center;
}

.page-content {
  padding: 4rem 0;

  .col h3 {
    text-align: center;
  }
}

.page-tagline {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 200;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  margin-bottom: 5rem;
}