// Colors
$leafgreen: #8DBF44;
$palenavy: #3D4954;
$palenavyhover: rgb(87, 104, 119);
$offwhite: #F3F3F3;
$softred: #bf4450;

// Media Variables
$break-sm: 'only screen and (max-width: 768px)';
$break-md: 'only screen and (max-width: 992px)';
$break-lg: 'only screen and (max-width: 1200px)';
$break-xl: 'only screen and (max-width: 1800px)';

// Typography
$primary-font: 'Lato',
sans-serif;
$brand-font: 'Monoton',
cursive;